@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  /* COLORS */

  --white: #fff;
  --black: #000;

  /* Blue */
  --blue-950: #0d192c;
  --blue-900: #15263f;
  --blue-800: #2e405a;
  --blue-500: #8bacd9;

  /* Cyan */
  --cyan-400: #00fff8;

  /* SPACING */
  --spacing-0: 0rem;
  --spacing-100: 8rem;
  --spacing-200: 16rem;
  --spacing-300: 24rem;
}

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

