@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  /* COLORS */

  --white: #fff;
  --black: #000;

  /* Blue */
  --blue-950: #0d192c;
  --blue-900: #15263f;
  --blue-800: #2e405a;
  --blue-500: #8bacd9;

  /* Cyan */
  --cyan-400: #00fff8;

  /* SPACING */
  --spacing-0: 0rem;
  --spacing-100: 0.8rem;
  --spacing-200: 1.6rem;
  --spacing-300: 2.4rem;
}

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-950);
}

.card {
  background-color: var(--blue-900);
  width: 35rem;
  height: 59.6rem;
  padding: var(--spacing-300);
  border-radius: 1.5rem;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0953);
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  width: 30.2rem;
  height: 54.8rem;
}

.card-content .image-equilibrium {
  border-radius: var(--spacing-100);
}